<table class="biddingTable">
    <tr class="biddingTableHeader">
        <th><div class="playerName"><i>W</i> {{pn.[1]}}</div></th>
        <th><div class="playerName"><i>N</i> {{pn.[2]}}</div></th>
        <th><div class="playerName"><i>E</i> {{pn.[3]}}</div></th>
        <th><div class="playerName"><i>S</i> {{pn.[0]}}</div></th>
    </tr>
    {{#with bidding}}
        {{#each bidding_table}}
            <tr>
                {{#each row}}
                    {{>bid bid=this}}
                {{/each}}
            </tr>
        {{/each}}
        {{#if bidding_notation}}
            <tr>
                <td height="0.2em"></td>
            </tr>
        {{/if}}
        {{#each bidding_notation}}
            <tr>
                <td colspan=4>{{{this}}}</td>
            </tr>
        {{/each}}
    {{/with}}

</table>